<!--
    File: footer.html
    lOCATION: src/main/resources/templates/fragments/footer.html

    Description:
        This file defines a Thymeleaf template fragment for the footer section of the web application.

    Fragment Details:
        - Name: footer
        - Purpose: Provides a standardized footer layout with a dark background, white text, centered content,
            and automatic top margin to push the footer to the bottom of the page.
        - Usage: Intended for inclusion in other HTML templates, ensuring consistent presentation of the footer.

    Content:
        - Contains a paragraph element with copyright information for "SPRING RESTful" and "Wiiifiii".

    Note:
        The fragment can be reused using Thymeleaf's th:replace or th:include attributes in other template files.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer" class="bg-dark text-white text-center py-3 mt-auto">
        <p>&copy; 2025 SPRING RESTful.© Wiiifiii, All rights reserved.</p>
        
    </footer>
</body>
</html>
